/* add home page styles here */
/* h1 {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
    font-size: 2rem;
    background-color:darkgray;
    padding: 10px;
    border-radius: 15px;
} */
.spiderman img{
    width: 500px;
}
.spiderman-stats {
    /* width: 50%;
    height: 100%;  */
    /* flex-direction: column;
    align-items: center;
    justify-content: space-between;  */
    position: relative;
    left: -200px;
}
#spiderman-stats {
    display:flex;
    flex-direction: column;
}
.spiderman {
    text-align: center;
    padding: 5px;
}
#goblin-stats {
    display:flex;
    flex-direction: column;
}
.goblin-stats {
    /* width: 50%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center;
    justify-content: space-between;  */
    position: relative;
    right: -200px;
    
} 

.defeated-goblins { 
    text-align: center;
} 
.defeated-goblins p {
    font-size: 1.5rem;
    color: white;
    background-color: red;
    padding: 20px;
    border-radius: 15px;
}
.spiderman p {
    font-size: 1.5rem;
    color: white;
    background-color:blue;
    padding: 20px;
    border-radius: 15px;
}
.goblins-stats button {
    font-size: 2em;
    width: 100%;
}
.goblin-stats input {
    font-size: 2rem;
    width: 80%;

}
.goblin {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:forestgreen;
    border: 5px;
    border-color: darkgreen;
    margin: 20px;
    font-size: 2rem;
    border-radius: 15px;
    color:white;
    padding: 5px;
    cursor: pointer;
}
